.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 94vh;
  margin-top: 10px;
}

.selling-content {
  display: flex;
  width: 100%;
  height: 90%;
  gap: 10px;
}

.selling-footer {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 10%;

  .footer-buttons {
    display: flex;
    width: 100%;
    gap: 10px;

    .f-btn {
      height: 100%;
      width: 200px;
    }
  }
}

.column1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 30%;

  .column1-buttons {
    display: flex;
    gap: 10px;

    .dx-button {
      width: 25%;
    }
  }

  .search-bar {
    display: flex;

    .search-input {
      width: 100%;
    }
  }
}

.column2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  width: 20%;
  align-content: flex-start;

  .dx-button {
    background-color: #f6ef2c;
    height: 70px;
    width: 48%;
  }
}

.column3 {
  display: flex;
  width: 60%;
  flex-flow: wrap;
  flex-direction: row;
  align-content: flex-start;
  gap: 20px;
}

.column3 > div > img {
  width: 132px;
  height: 92px;
  // margin: 1px;
}

// .column3 > div {
//   margin-bottom: 1px;
//   width: 13.8%;
// }

.btn2 {
  background-color: DodgerBlue;
  color: #f1f1f1;
}

.btn3 {
  width: 192px;
  height: 80px;
}

button {
  &:hover {
    color: #ff7a59;
    border: #ff7a59 solid 1px;
    background: #fff;
  }

  cursor: pointer;
}

.column3 > div > text {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 5px;
  height: 26%;
  padding-left: 46px;
}

.product-container {
  display: flex;
  flex-direction: column;
  width: 132px;
  height: 92px;
  background-color: white;
  cursor: pointer;

  span {
    // position: absolute;
    // top: 90px;
    // left: 0px;
    font-weight: bold;
    // width: 100%;
    text-align: center;
  }
}

.price {
  background-color: black;
  width: 32%;
  height: 100%;
}

.stxt {
  top: 0;
  left: 0;
  font-size: small;
  color: #f1f1f1;
}

.btxt {
  padding-top: 5%;
  padding-left: 69%;
  font-size: xx-large;
  color: #f1f1f1;
}

.orders {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-bottom: 0px;
  border-top: 0px;
}

.orders > div {
  margin-top: -7px;
}

.orderP {
  padding-left: 66%;
}

hr {
  margin: 0;
}

.ordertxt1 {
  font-size: 10px;
}
